<%- include('partials/header', {title:"Index"}) -%>
<div class=main>
  <h2> <%=scrapbookName %> </h2>
<div class="leftpage">
  <div id="messages">
   <h3>Messages:</h3>
   <textarea id="messagesDisplay" name="story"
          rows="20" cols="50">
  </textarea><br>

  <form action="/saveComment" method="POST">
  <input type="text" id="messageInput">
  <button type="button" id="sendButton">Send</button>
  </form>

  <form action="/saveCtoS" method="POST">
    <input type="text" id="comment" name="comment" value="">
    <input type="hidden" id="scrapbookName" name="scrapbookName" value= <%=scrapbookName%> >
    <input type="submit" value="Save comment!">
  </form>

  </div>
  <span id="numClientsDisplay">Participants: 0<span>

  <script>
    let socket = io.connect('/');//the default namespace
    socket.emit('connectionEvent', {userFirstName:'<%=userFirstName%>'});

    socket.on('announcement', function(data) {
        console.log(data)
        let mDisplay = document.getElementById('messagesDisplay');
        let text ="";
        if(data.userFirstName)
           text = data.userFirstName+": "+data.message+"\n";
        else
           text = data.message+"\n";
        mDisplay.value +=text;
    });

    socket.on('connectionEvent', function(data) {
        //keep track of the current number of participants in the numClientsDisplay span
        let numClientsDisplay = document.getElementById('numClientsDisplay');
        let text = "Participants: " + data.numClients;
        numClientsDisplay.innerText = text;
        let mDisplay = document.getElementById('messagesDisplay');

        text = data.userFirstName+": "+data.message+"\n";

        mDisplay.value = mDisplay.value.trim()+text;
    });

    document.getElementById("sendButton").addEventListener('click', function(){
      let messageData = document.getElementById("messageInput").value;
      console.log("sending: "+messageData);
      socket.emit('announcement', { userFirstName:'<%=userFirstName%>', message: messageData });

      let comment = {
        userFirstName:'<%=userFirstName%>',
        message: messageData
      }
      console.log(comment);
    });

  </script>
</div>
<div class="rightpage">
  <h3>Saved Comments:</h3>

  <% for (let i=0; i< comments[scrapbookName]["comments"].length; i++){ %>
   <h2> <%=comments[scrapbookName]["comments"][i]%> </h2>
   <% console.log(comments[scrapbookName]["comments"][i]) %>

   <br>

  <%  } %>

</div>
</div>

<%- include('partials/footer') -%>
