<%- include('partials/header', {title:"Index"}) -%>
  <br>
  <div class= main>

    <% var newestBook = users[userID]["scrapbooks"][users[userID]["scrapbooks"].length-1] %>
    <% if (scrapbooks[scrapbookName]["1"]["images"].length>0){ %>
    <% var length = scrapbooks[scrapbookName]["1"]["images"].length %>

    <div class= "leftpage">
      <h2> <%=scrapbookName %> </h2>

      <div class= leftimage>
        <img src= <%= scrapbooks[scrapbookName]["1"]["images"][length-1]%> width=80% >
      </div>

    </div>
    <div class= rightpage>
      <div class= rightimage>
       <% if (scrapbooks[scrapbookName]["1"]["images"].length >1){ %>
         <img src= <%= scrapbooks[scrapbookName]["1"]["images"][length-2]%> width=80% >
       <% } %>
      </div>
    </div>
    <% } else{ %>
      <div class= leftpage>
        <h2> <%=scrapbookName %> </h2>
        <div class= leftimage>
        </div>

      </div>
      <div class= rightpage>
        <div class= rightimage>
        </div>
      </div>

    <% } %>
  </div>

  <script>
    console.log("script");
      var leftpage = document.querySelector(".leftpage");
      var rightpage = document.querySelector('.rightpage');


      leftpage.style.setProperty('--background-Color', "<%=scrapbooks[scrapbookName]["1"]["backgroundColor"]%>");
      rightpage.style.setProperty('--background-Color', "<%=scrapbooks[scrapbookName]["1"]["backgroundColor"]%>");

      leftpage.style.setProperty('--font-Color', "<%=scrapbooks[scrapbookName]["1"]["fontColor"]%>");
      rightpage.style.setProperty('--font-Color', "<%=scrapbooks[scrapbookName]["1"]["fontColor"]%>");

      leftpage.style.setProperty('--font-Selected', "<%=scrapbooks[scrapbookName]["1"]["font"]%>");
      rightpage.style.setProperty('--font-Selected', "<%=scrapbooks[scrapbookName]["1"]["font"]%>");


  </script>


<%- include('partials/toolbox', {scrapbookName: scrapbookName}) -%>
<%- include('partials/footer') -%>
